* {
  font-family: 'BlexMono Nerd Font', monospace;
  font-size: 12px;
}

window#waybar {
    background-color: transparent;
}

window#waybar > box {
    background-color: #1e1e2e;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.modules-left > widget > *, .modules-center > widget > *, .modules-right > widget > * {
    margin: 3px 0px 3px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
}

.modules-right > widget > * {
    margin-left: 3px;
}

.modules-right {
    color: #1e1e2e;
    margin-right: 3px;
}

.modules-center {
    color: #000000;
}

.modules-left {
    margin-left: 3px;
}

#workspaces {
    padding: 0;
	color: #161320;
	background: #2d3142;
}

#workspaces button {
    color: #ffffff;
    padding: 0px;
}

#workspaces button.active, button:hover {
    color: #ffffff;
    background: #4b4c4d;
    border-radius: 7px;
}

#pulseaudio {
	background: #FAE3B0;
}

#battery {
	background: #B5E8E0;
}

#tray {
	background: #45475a;
}

#clock {
	background: #94e2d5;
}

#cpu {
	background: #96CDFB;
}

#backlight {
	background: #F8BD96;
}
