* {
  font-family: 'BlexMono Nerd Font', monospace;
  font-size: 12px;
  color: #ffffff;
}

window#waybar {
  background: #161320;
}

.modules-left > widget > *, .modules-center > widget > *, .modules-right > widget > * {
    margin: 3px 0 3px 3px;
    padding: 0 10px 0 10px;
    border-radius: 7px;
}

.modules-right {
  margin-right: 10px;
}

#workspaces {
    padding: 0;
	color: #161320;
	background: #2d3142;
}

#workspaces button {
    margin: 2px;
    padding: 0px;
}

#workspaces button.active, button:hover {
    color: #000000;
    background: #4b4c4d;
    border-radius: 7px;
}

#pulseaudio-slider trough {
    min-height: 7px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #1bf29c;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#volume {
	border: 1px solid #FAE3B0;
}

#battery {
	border: 1px solid #B5E8E0;
}

#tray {
	border: 1px solid #DDB6F2;
}

#clock {
	border: 1px solid #ABE9B3;
}

#cpu {
	border: 1px solid #96CDFB;
}

#backlight {
	border: 1px solid #F8BD96;
}
